[Unit]
Description=xovi Button Monitor Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/root/xovi-tripletap/main.sh
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
